In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
gdf_buildings = gpd.read_file('../gangnamGu-building-residential.geojson')

In [3]:
gdf_buildings.head()

,USABILITY,HEIGHT,PNU,GRND_FLR,UGRND_FLR,DONG_NM,COL_ADM_SE,UFID,BLDG_PNU,BD_MGT_SN,ARCHAREA,TOTALAREA,BC_RAT,VL_RAT,geometry
0,01000,7.90,1168011400106410010,2,1,None,11680,1987207556994435369900000000,None,1168011400106410010001998,97.530,265.02,49.21,83.13,"MULTIPOLYGON (((127.08634 37.49399, 127.08628 ..."
1,02000,13.16,1168010800101570024,4,1,None,11680,2003202386534451790800000000,None,1168010800101570024008663,134.900,652.19,54.62,199.76,"MULTIPOLYGON (((127.02788 37.50883, 127.02781 ..."
2,02000,0.00,1168010500100790000,12,1,6,11680,1981205226284463626200000000,None,1168010500100790000014655,781.490,9526.81,0.00,0.00,"MULTIPOLYGON (((127.06025 37.51966, 127.06031 ..."
3,01000,9.80,1168010400100110005,3,0,´Ù°¡±¸¿ë´Üµ¶ÁÖÅÃ(9°¡±¸),11680,1995204058644466407200000000,None,1168010400100110005018473,149.717,393.17,59.76,156.95,"MULTIPOLYGON (((127.04673 37.52192, 127.04665 ..."
4,01000,0.00,1168010500100700004,2,1,None,11680,1978204624064458510800000000,None,1168010500100700004015465,75.370,163.18,0.00,0.00,"MULTIPOLYGON (((127.05317 37.51489, 127.05315 ..."

In [4]:
gdf_hexbin = gpd.read_file('../hexagon_res_9_400m_count/hexagon_with_data.geojson')

In [6]:
gdf_hexbin.head()

,index,x,y,single_archarea,multi_archarea,single_count,multi_count,count_bike_station,count_bus_line,count_subway_line,score_bus,score_bike,score_subway,total_score,geometry
0,8930e1caa2bffff,127.090880,37.493859,0.0,0.0,0,0,1,2,0,0.250,1.0,0.0,1.250,"POLYGON ((127.09261 37.49364, 127.09186 37.495..."
1,8930e1c8487ffff,127.043237,37.488433,0.0,0.0,0,0,3,11,1,1.375,3.0,2.5,6.875,"POLYGON ((127.04497 37.48822, 127.04422 37.489..."
2,8930e1c8c33ffff,127.105979,37.486245,0.0,0.0,0,0,1,18,2,2.250,1.0,5.0,8.250,"POLYGON ((127.10771 37.48603, 127.10696 37.487..."
3,8930e1c818bffff,127.076602,37.479954,0.0,0.0,0,0,0,8,0,1.000,0.0,0.0,1.000,"POLYGON ((127.07833 37.47974, 127.07759 37.481..."
4,8930e1c881bffff,127.115170,37.470806,0.0,0.0,0,0,1,0,0,0.000,1.0,0.0,1.000,"POLYGON ((127.11690 37.47059, 127.11615 37.472..."

In [11]:
gdf_buildings = gdf_buildings.loc[:,['UFID','geometry']]
gdf_hexbin = gdf_hexbin.loc[:,['index','geometry']]

Here, I splitted the residential buildings into segments by the hexagons

In [13]:
intersections = gpd.overlay(gdf_buildings, gdf_hexbin, how='intersection')

In [14]:
intersections.head()

,UFID,index,geometry
0,1987207556994435369900000000,8930e1caa0fffff,"POLYGON ((127.08634 37.49399, 127.08628 37.493..."
1,1986207483354435556900000000,8930e1caa0fffff,"POLYGON ((127.08545 37.49412, 127.08538 37.494..."
2,1987207583034434461400000000,8930e1caa0fffff,"POLYGON ((127.08654 37.49326, 127.08656 37.493..."
3,1987207408074434747000000000,8930e1caa0fffff,"POLYGON ((127.08457 37.49353, 127.08464 37.493..."
4,1986207472984435511200000000,8930e1caa0fffff,"POLYGON ((127.08533 37.49408, 127.08527 37.494..."