In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
gdf_building = gpd.read_file('../gangnamGu-building.geojson', encoding='utf8', dtype={'USABILITY':str})

In [3]:
gdf_building.head()

,UFID,BLD_NM,DONG_NM,GRND_FLR,UGRND_FLR,PNU,ARCHAREA,TOTALAREA,PLATAREA,HEIGHT,...,GB_CD,VIOL_BD_YN,GEOIDN,BLDG_PNU,BLDG_PNU_Y,BLD_UNLICE,BD_MGT_SN,SGG_OID,COL_ADM_SE,geometry
0,0000203982164416311400000000,None,None,0,0,1165010200102610024,0.00,0.00,0.0,0.0,...,None,None,None,None,None,None,None,8482,11650,"MULTIPOLYGON (((127.04583 37.47684, 127.04583 ..."
1,1976203199584425056300000000,None,None,3,1,1165010200100110023,128.00,536.10,225.7,10.5,...,0,0,None,None,None,None,None,16633,11650,"MULTIPOLYGON (((127.03708 37.48479, 127.03685 ..."
2,1973203231034425104000000000,None,None,3,1,1165010200100110027,195.31,586.49,384.1,10.5,...,0,0,None,None,None,None,None,19608,11650,"MULTIPOLYGON (((127.03742 37.48483, 127.03737 ..."
3,1995202798554468775400000000,None,´Ù°¡±¸¿ë ´Üµ¶ÁÖÅÃ(8°¡±¸),3,1,1168010700106270004,142.77,536.97,238.7,12.8,...,0,0,B00100000000SPMZH,None,None,None,1168010700106270004010419,86,11680,"MULTIPOLYGON (((127.03252 37.52418, 127.03252 ..."
4,0000207857834419160700000000,None,None,0,0,1168011500200040007,0.00,0.00,0.0,0.0,...,None,None,B001000000012PQ3Y,None,None,None,1168011500200040007000002,87,11680,"MULTIPOLYGON (((127.08969 37.47945, 127.08968 ..."

In [4]:
gdf_building.columns

Index(['UFID', 'BLD_NM', 'DONG_NM', 'GRND_FLR', 'UGRND_FLR', 'PNU', 'ARCHAREA',
       'TOTALAREA', 'PLATAREA', 'HEIGHT', 'STRCT_CD', 'USABILITY', 'BC_RAT',
       'VL_RAT', 'BLDRGST_PK', 'USEAPR_DAY', 'REGIST_DAY', 'GB_CD',
       'VIOL_BD_YN', 'GEOIDN', 'BLDG_PNU', 'BLDG_PNU_Y', 'BLD_UNLICE',
       'BD_MGT_SN', 'SGG_OID', 'COL_ADM_SE', 'geometry'],
      dtype='object')

In [5]:
gdf_building['USABILITY'].unique()

array([None, '03000', '04000', '01000', '02000', '14000', '06000',
       '07000', '15000', '17000', '09000', '10000', '11000', '20000',
       '19000', '05000', '13000', '16000', 'Z5000', 'Z8000', '21000',
       '18000', '24000', 'Z9000', '23000', '22000', '25000', 'Z6000',
       'Z3000', '12000'], dtype=object)

In [6]:
# land use code
# 01000 단독주택
# 01001 단독주택
# 01002 다중주택
# 01003 다가구주택
# 01004 공관
# 02000 공동주택
# 02001 아파트
# 02002 연립주택
# 02003 다세대주택
# 02007 기숙사
# 10202 오피스텔

residential_code = ['01000', 
                   '01001',
                   '01002',
                   '01003',
                   '01004',
                   '02000',
                   '02001',
                   '02002',
                   '02003',
                   '02007',
                   '10202']

In [7]:
# filtering the dataset by the land use code
gdf_res_building = gdf_building.loc[gdf_building['USABILITY'].isin(residential_code)]

In [8]:
gdf_res_building.columns

Index(['UFID', 'BLD_NM', 'DONG_NM', 'GRND_FLR', 'UGRND_FLR', 'PNU', 'ARCHAREA',
       'TOTALAREA', 'PLATAREA', 'HEIGHT', 'STRCT_CD', 'USABILITY', 'BC_RAT',
       'VL_RAT', 'BLDRGST_PK', 'USEAPR_DAY', 'REGIST_DAY', 'GB_CD',
       'VIOL_BD_YN', 'GEOIDN', 'BLDG_PNU', 'BLDG_PNU_Y', 'BLD_UNLICE',
       'BD_MGT_SN', 'SGG_OID', 'COL_ADM_SE', 'geometry'],
      dtype='object')

In [9]:
gdf_res_building = gdf_res_building.loc[:,['USABILITY',
                                           'HEIGHT',
                                           'PNU',
                                           'GRND_FLR',
                                           'UGRND_FLR',
                                           'DONG_NM',
                                           'COL_ADM_SE',
                                           'UFID',
                                           'BLDG_PNU',
                                           'BD_MGT_SN',
                                           'ARCHAREA',
                                           'TOTALAREA',
                                           'BC_RAT',
                                           'VL_RAT',
                                           'geometry']]

In [10]:
gdf_res_building.head()

,USABILITY,HEIGHT,PNU,GRND_FLR,UGRND_FLR,DONG_NM,COL_ADM_SE,UFID,BLDG_PNU,BD_MGT_SN,ARCHAREA,TOTALAREA,BC_RAT,VL_RAT,geometry
6,01000,7.90,1168011400106410010,2,1,None,11680,1987207556994435369900000000,None,1168011400106410010001998,97.530,265.02,49.21,83.13,"MULTIPOLYGON (((127.08634 37.49399, 127.08628 ..."
9,02000,13.16,1168010800101570024,4,1,None,11680,2003202386534451790800000000,None,1168010800101570024008663,134.900,652.19,54.62,199.76,"MULTIPOLYGON (((127.02788 37.50883, 127.02781 ..."
10,02000,0.00,1168010500100790000,12,1,6,11680,1981205226284463626200000000,None,1168010500100790000014655,781.490,9526.81,0.00,0.00,"MULTIPOLYGON (((127.06025 37.51966, 127.06031 ..."
17,01000,9.80,1168010400100110005,3,0,´Ù°¡±¸¿ë´Üµ¶ÁÖÅÃ(9°¡±¸),11680,1995204058644466407200000000,None,1168010400100110005018473,149.717,393.17,59.76,156.95,"MULTIPOLYGON (((127.04673 37.52192, 127.04665 ..."
19,01000,0.00,1168010500100700004,2,1,None,11680,1978204624064458510800000000,None,1168010500100700004015465,75.370,163.18,0.00,0.00,"MULTIPOLYGON (((127.05317 37.51489, 127.05315 ..."

In [11]:
gdf_res_building.to_file('../gangnamGu-building-residential.geojson', driver='GeoJSON', encoding='utf8')