In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
gdf_building = gpd.read_file('gangnamGu-building.geojson', encoding='utf8', dtype={'USABILITY':str})

In [3]:
gdf_building.head()

,UFID,BLD_NM,DONG_NM,GRND_FLR,UGRND_FLR,PNU,ARCHAREA,TOTALAREA,PLATAREA,HEIGHT,...,GB_CD,VIOL_BD_YN,GEOIDN,BLDG_PNU,BLDG_PNU_Y,BLD_UNLICE,BD_MGT_SN,SGG_OID,COL_ADM_SE,geometry
0,0000203982164416311400000000,None,None,0,0,1165010200102610024,0.00,0.00,0.0,0.0,...,None,None,None,None,None,None,None,8482,11650,"MULTIPOLYGON (((127.04583 37.47684, 127.04583 ..."
1,1976203199584425056300000000,None,None,3,1,1165010200100110023,128.00,536.10,225.7,10.5,...,0,0,None,None,None,None,None,16633,11650,"MULTIPOLYGON (((127.03708 37.48479, 127.03685 ..."
2,1973203231034425104000000000,None,None,3,1,1165010200100110027,195.31,586.49,384.1,10.5,...,0,0,None,None,None,None,None,19608,11650,"MULTIPOLYGON (((127.03742 37.48483, 127.03737 ..."
3,1995202798554468775400000000,None,´Ù°¡±¸¿ë ´Üµ¶ÁÖÅÃ(8°¡±¸),3,1,1168010700106270004,142.77,536.97,238.7,12.8,...,0,0,B00100000000SPMZH,None,None,None,1168010700106270004010419,86,11680,"MULTIPOLYGON (((127.03252 37.52418, 127.03252 ..."
4,0000207857834419160700000000,None,None,0,0,1168011500200040007,0.00,0.00,0.0,0.0,...,None,None,B001000000012PQ3Y,None,None,None,1168011500200040007000002,87,11680,"MULTIPOLYGON (((127.08969 37.47945, 127.08968 ..."

In [4]:
# land use code
# 01000 단독주택
# 01001 단독주택
# 01002 다중주택
# 01003 다가구주택
# 01004 공관
# 02000 공동주택
# 02001 아파트
# 02002 연립주택
# 02003 다세대주택
# 02007 기숙사
# 10202 오피스텔

residential_code = ['01000', 
                   '01001',
                   '01002',
                   '01003',
                   '01004',
                   '02000',
                   '02001',
                   '02002',
                   '02003',
                   '02007',
                   '10202']

In [5]:
# filtering the dataset by the land use code
gdf_res_building = gdf_building.loc[gdf_building['USABILITY'].isin(residential_code)]

In [6]:
gdf_res_building = gdf_res_building.loc[:,['USABILITY',
                                           'HEIGHT',
                                           'PNU',
                                           'GRND_FLR',
                                           'UGRND_FLR',
                                           'DONG_NM',
                                           'UFID',
                                           'BC_RAT',
                                           'VC_RAT',
                                           'COL_ADM_SECT_CD',
                                           'BLDG_PNU',
                                           'OBJECTID',
                                           'BD_MGT_SN',
                                           'geometry']]

C:\Users\hsg82\AppData\Local\Continuum\anaconda3\envs\data_basic\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [7]:
gdf_res_building.head()

,USABILITY,HEIGHT,PNU,GRND_FLR,UGRND_FLR,DONG_NM,UFID,BC_RAT,VC_RAT,COL_ADM_SECT_CD,BLDG_PNU,OBJECTID,BD_MGT_SN,geometry
6,01000,7.90,1168011400106410010,2,1,None,1987207556994435369900000000,49.21,NaN,NaN,None,NaN,1168011400106410010001998,"MULTIPOLYGON (((127.08634 37.49399, 127.08628 ..."
9,02000,13.16,1168010800101570024,4,1,None,2003202386534451790800000000,54.62,NaN,NaN,None,NaN,1168010800101570024008663,"MULTIPOLYGON (((127.02788 37.50883, 127.02781 ..."
10,02000,0.00,1168010500100790000,12,1,6,1981205226284463626200000000,0.00,NaN,NaN,None,NaN,1168010500100790000014655,"MULTIPOLYGON (((127.06025 37.51966, 127.06031 ..."
17,01000,9.80,1168010400100110005,3,0,´Ù°¡±¸¿ë´Üµ¶ÁÖÅÃ(9°¡±¸),1995204058644466407200000000,59.76,NaN,NaN,None,NaN,1168010400100110005018473,"MULTIPOLYGON (((127.04673 37.52192, 127.04665 ..."
19,01000,0.00,1168010500100700004,2,1,None,1978204624064458510800000000,0.00,NaN,NaN,None,NaN,1168010500100700004015465,"MULTIPOLYGON (((127.05317 37.51489, 127.05315 ..."

In [8]:
gdf_res_building.to_file('gangnamGu-building-residential.geojson', driver='GeoJSON', encoding='utf8')